* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rondalsemibold';
}
body {
}
section {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
section .bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../src/tiger.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
section .bg-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('../src/camera-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0px;
  mix-blend-mode: screen;
}
.container {
  position: relative;
  margin-top: 200vh;
  background: #fff;
  padding: 100px;
}
.container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.title {
  position: relative;
  top: 10vh;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  width: 100%;
}