* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rondalsemibold';
  overflow: visible;
}
#m {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
section .bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../src/tiger.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
section .bg-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('../src/camera-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0px;
  mix-blend-mode: screen;
}
.container {
  position: relative;
  margin-top: 200vh;
  background-color: #fff;
  padding: 10vw;
  overflow: visible;
}
.container .header {
  text-align: center;
}
.container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.book-section {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  transform-style: preserve-3d;
}
.book-wrapper {
  position: relative;
  width: 383px;
  height: 567px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: 0.5s;
}
.book-wrapper:hover {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(35deg);
}
.book-wrapper:active {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
}
.book {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book.cover {
  transform-origin: left;
}
.book.spine {
  width: 60px;
  transform-origin: left;
  transform: rotateY(-90deg) translateX(-60px);
}
.book.back {
  transform: rotateY(-180deg) translateZ(60px);
}
.title {
  position: relative;
  top: 10vh;
  z-index: 1;
  font-size: 3em;
  font-family: 'ronaldbold';
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 1080px) {
  .book-section {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .book-wrapper {
    width: 60vw;
    height: 88.8vw;
  }
}